@tailwind base;
@tailwind components;
@tailwind utilities;

.tambahProduk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination{
    /* background-color: red; */
    /* justify-content: center;
    align-items: center;
    display: flex; */
    color: #850000;
}
